<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/category.css?ver=8">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/cheat_login.js"></script>

</head>

<body>

<div class="category">
    <div class="logo_div">
        <img src="http://design.designcodberg.co.kr/data/common/logo_img" width="50" style="vertical-align: top;">
        <div>CODBERG</div>
    </div>

    <div class="login_div">
        <a href="/view/mail/gmail_send.php?stype=new" class="btn_send">메일쓰기</a>
        <a href="/view/mail/gmail_send.php?stype=me" class="btn_send">내게쓰기</a>
    </div>

    <!--
    ?vmbox={메일함}
    0 : 받은 메일함 // gm_mbox = 0 and gm_deleted = 0 and gm_to LIKE
    1 : 보낸 메일함 // gm_mbox = 2 and gm_deleted = 0 and gm_from LIKE
    2 : 내게쓴 메일함 // gm_mbox = 2 and gm_deleted = 0 and  gm_to LIKE 내아이디
    3 : 중요 메일함 // gm_star = 1 and gm_deleted = 0 and gm_to LIKE
    4 : 스팸 메일함 // gm_mbox =1 and gm_deleted = 0 and gm_to LIKE
    5 : 휴지통 // gm_deleted = 1 and gm_to LIKE

    # gm_mbox
    0 : 받은 메일함
    1 : 스팸 메일함
    2 : 보낸 메일함

    # gm_deleted
    0 : 삭제되지 않음
    1 : 삭제된 메일
    2 : 완전 삭제

    # gm_seen
    0 : 읽지 않음
    1 : 읽음

    # gm_star
    0 : 안중요
    1 : 중요
    -->
    <div id="cssmenu">
        <ul>
            <li>
                <ul>
                    <li><a href="/view/mail/gmail.php?vmbox=0"><i class="fa fa-envelope-o"></i> 받은 메일함</a></li>
                    <li><a href="/view/mail/gmail.php?vmbox=1"><i class="fa fa-paper-plane" aria-hidden="true"></i> 보낸
                        메일함</a></li>
                    <li><a href="/view/mail/gmail.php?vmbox=2"><i class="fa fa-file-text-o" aria-hidden="true"></i> 내게쓴
                        메일함</a></li>
                    <li><a href="/view/mail/gmail.php?vmbox=3"><i class="fa fa-star"></i> 중요 메일함</a></li>
                    <li><a href="/view/mail/gmail.php?vmbox=4"><i class="fa fa-ban"></i> 스팸 메일함</a></li>
                    <li><a href="/view/mail/gmail.php?vmbox=5"><i class="fa fa-trash"></i> 휴지통</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="login_div">
        <input type="button" value="메일 가져오기" class="btn_send" style="width: 249px;height: 39px;" onclick="insert()">
    </div>

    <div style="right:10px;position: absolute; padding-bottom: 5px; bottom: 0px;">
        <input type="button" value="ADMIN" class="btn_send" onclick="cheat()">
    </div>
</div>

</body>
</html>