.send_result_div.btn_div {
    border-bottom: solid 1px #A4A4A4 !important;
    height: 45px;
}

.content_div {
    padding-bottom: 20px;
    border-bottom: solid 1px #A4A4A4 !important;
}

.btn_send_style {
    background-color: #fff;
    border: 1px solid #dadce0;
    color: #1a73e8;
    width: 84px;
    height: 29px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-radius: 2px;
    vertical-align: middle;
}

.font_bold {
    font-weight: 600;
}

.send_table {
    margin: 20px 0px;
    font-size: 14px;
    width: 100%;
}

.send_table th {
    text-align: left;
    width: 100px;
    color: #424242;
}

.send_table input {
    background-color: #FAFAFA;
    padding: 2px 5px 2px 5px;
    width: 98%;
    height: 20px;
    margin: 3px;
    font-size: 13px;
    display: inline-block;
    border: 1px solid #dadada;
    border-radius: 2px;
}

textarea {
    width: 96.6%;
    height: 496px;
    background-color: #FAFAFA;
    padding: 2px 15px;
    margin: 3px;
    line-height: 37px;
    font-size: 13px;
    display: inline-block;
    border: 1px solid #dadada;
    border-radius: 2px;
    resize: none;
}

.file_data {
    vertical-align: top;
    font-size: 12px;
    color: #424242;
    width: calc(95% / 5);
    height: 50px;
    padding: 5px 7px;
    display: inline-block;
    border: 1px solid #dadada;
    margin: 5px 3px;
}

.left_div {
    line-height: 40px;
    display: inline-block;
}

.right_div {
    display: inline-block;
    float: right;
    width: calc(100% - 25px);
    display: inline-block;
}

.file_remove {
    margin-left: 3px;
    cursor: pointer;
    float: right;
    display: inline-block;
    background-image: url("../img/gray_delete.png");
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
}

.file_span {
    position: relative;
}

.file_div {
    margin-top: 1px;
    right: 4px;
    position: absolute;
    z-index: 100;
    width: calc(100% - 85px);
    height: 23px;
    background-color: #fafafa;
}

.file_size {
    font-size: 10px;
    color: #76838f;
}

.send_result_div {
    position: relative;
    text-align: center;
    width: 100%;
    height: 400px;
    padding: 150px 0px 30px 0px;
    border-bottom: solid 1px #A4A4A4 !important;
}

.send_result_div img {
    margin-bottom: 50px;
}

.mail_send_txt {
    margin-bottom: 10px;
    font-weight: bold;
}

.send_result_div a {
    font-size: 13px;
    color: #424242;
    text-decoration: none;
}

.send_result_div a:hover {
    font-size: 13px;
    color: #1a73e8;
}

.send_result_div span {
    margin: 0px 5px 0px 5px;
    color: #888888;
    font-size: 12px;
}

#plane_box {
    position: absolute;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/send.png');
}

.success_plane {
    bottom: 0px;
    left: 0;
}

.fail_plane {
    left: 720px;
    bottom: 350px;
}

.wrap-loading { /*화면 전체를 어둡게 합니다.*/
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); /*not in ie */
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000'); /* ie */
}

.display-none { /*감추기*/
    display: none;
}
