.mail_content {
    float: right;
    width: calc(100% - 270px);
    display: inline-block;
}

.mail_div {
    float: right;
    margin: auto;
    width: 98%;
    overflow: scroll;
    height: 770px;
    overflow-x: hidden;
    /*border-top: 1px solid #A4A4A4;*/
    border-bottom: 1px solid #A4A4A4;

}

.mail_box {
    width: 100%;
    font-size: 14px;
}

.sfont {
    font-size: 13px;
}

.sfont th {
    font-size: 14px;
}

.subject {
    font-size: 20px !important;
    font-weight: bold;
    padding: 10px 0px;
}

.content {
    min-height: 100px;
}

hr {
    border: 0.5px solid #dadada;
    margin-top: 10px;
}

.iframe {
    width: 100%;
}

.file_count {
    margin: 5px;
}

.file_count img {
    vertical-align: top;
    margin-right: 5px;
}

.view_file_box {
    padding: 7px;
    border-top: 1px solid #e4eaec;
    border-left: 1px solid #e4eaec;
    border-right: 1px solid #e4eaec;
}

.view_file_box a {
    font-size: 12px;
    color: #424242;
    text-decoration: none;
}

.view_file_box a:hover {
    color: #3F51B5;
    cursor: pointer;
}

.view_file_box:last-child {
    border-bottom: 1px solid #e4eaec;
}

.view_file_box img {
    margin-left: 3px;
    margin-right: 10px;
}