<link rel="stylesheet" href="/static/css/nav.css?ver=5">
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>
<script type="text/javascript" src="/static/js/nav.js?ver=9"></script>
<div class="nav_div">
    <div class="user_info">
        <div class="user_name"><span id="user_nickname"></span> 님</div>
        <a href="/controller/member/logout.php" class="btn_send" style="width: 80px;">Logout</a>
    </div>
    <div class="box_title"></div>
    <div class="seen_cnt">
        <div class="unseen_cnt"></div>
        <span>|</span>
        <div class="total_cnt"></div>
    </div>
    <div class="head_box">
        <div style="display:inline-block;width:27px;text-align: center;" class="head_chk_frame">
            <input type="checkbox" id="chkall" style="vertical-align: middle;">
        </div>
        <!-------------->
        <button type="button" class="btn_head" onclick="update_chkbox('gm_seen',1)"
                style="margin:0px 0px 0px 5px;">읽음
        </button>
        <button type="button" class="btn_head" onclick="update_chkbox('gm_seen',0)"
                style="margin:0px 15px 0px 0px;">안읽음
        </button>
        <!-------------->
        <button type="button" class="btn_head" name="loc_not_trash" onclick="update_chkbox('gm_deleted',1)">
            <img
                    src="/static/img/delete.png"> 삭제
        </button>
        <button type="button" class="btn_head loc_receive" name="loc_trash" onclick="update_chkbox('gm_deleted',0)">복구
        </button>
        <button type="button" class="btn_head loc_receive" name="loc_trash" onclick="update_chkbox('gm_deleted',2)"><img
                src="/static/img/delete.png"> 완전삭제
        </button>
        <!-------------->
        <button type="button" class="btn_head loc_receive" name="loc_not_spam" onclick="update_chkbox('gm_mbox',1)">스팸차단
        </button>
        <button type="button" class="btn_head loc_receive" name="loc_spam" onclick="update_chkbox('gm_mbox',0)">스팸해제
        </button>
        <!-------------->
        <select class="select_head loc_receive loc_trash" id="move_mbox" style="margin:0px 0px 0px 15px;">
            <option value="">선택하세요</option>
            <option value="0">받은 메일함</option>
            <option value="3">중요 메일함</option>
            <option value="4">스팸 메일함</option>
            <option value="5">휴지통</option>
        </select>
        <button type="button" class="btn_head loc_receive loc_trash" onclick="move_mbox()">이동
        </button>
        <!-------------->
        <div class="search_div">
            <input type="text" class="mail_search_txt">
            <button type="button" class="btn_head" onclick="search_mail()">검색</button>
        </div>
    </div>
</div>
